{% extends 'registration/base.html' %}

{% block content %}
<div class="card-body login-card-body">
    <p class="login-box-msg">Change password</p>

    {% if validLink %}
    <form method="post">
          {% csrf_token %}
          {{form.as_p}}
         <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    </form> 
    {% else %}

    <p class="login-box-msg">the link is expired or its invalid link</p>
    
    
    {% endif %}

   


    
    <!-- /.social-auth-links -->

   
  </div>
{% endblock content %}