
{% extends 'staff_template/base.html' %}
{% block page_title %}Take attendence{% endblock page_title %}

{% load static %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
      <!-- take_attendance.html -->

    
        <form method="post">
            {% csrf_token %}
            <label for="subject">Select subject:</label>
            <select name="subject_id" id="subject" required>
            <option value="">-- Select subject --</option>
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
            {% endfor %}
            </select>
            <label for="session-year">Select session year:</label>
            <select name="session_year_id" id="session-year" required>
            <option value="">-- Select session year --</option>
            {% for session_year in session %}
                <option value="{{ session_year.id }}">{{ session_year.session_start_year }}-{{ session_year.session_end_year }}</option>
            {% endfor %}
            </select>
            <button type="submit">View Attendance</button>
        </form>
    </div><!-- /.container-fluid -->
  </section>

{% endblock main_content %}

{% block custom_js %}


{% endblock custom_js %}













